# ----------- ESPHOME BASE CONFIG ------------

esphome:
  name: inkplate
  platformio_options:
    upload_speed: 921600
    board_build.partitions: huge_app.csv
  includes: 
    - helpers.h
  on_boot:
    - ds1307.read_time:


esp32:
  board: esp-wrover-kit

# Enable logger, default config
logger:

# Wifi config
wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
  fast_connect: true
  power_save_mode: none

  manual_ip:
    static_ip: 192.168.50.211
    gateway: 192.168.50.1
    subnet: 255.255.255.0
    dns1: 192.168.50.1

  # Enable fallback hotspot (captive portal) in case wifi connection fails
  # ap:
  #   ssid: !secret wifi_fallback_ssid
  #   password: !secret wifi_fallback_password

# MQTT for fast sending mqtt commands
mqtt:
  broker: 192.168.50.201
  client_id: inkplate
  username: mqtt_user
  password: !secret mqtt_password

# Enable fallback hotspot portal
# captive_portal:

# Home Assistant API for easy grabbing data from HA
api:

# Enable OTA
# ota:

# Enable I2C
i2c:

deep_sleep:
  id: sleeper
  run_duration: 30s       # effectively timeout for contacting HA API, 
                          # because otherwise esp will go to sleep after compliting displaying page1
  sleep_duration: 60min
  prevent_timeout: 20s
  # wakeup_pin:           # external RTC
  #   number: GPIO39
  #   inverted: true
  wakeup_pin:           # touchscreen + wakeup btn
    number: GPIO36
    inverted: true

time:
  - platform: ds1307
    id: time_rtc
    address: 0x51
  - platform: homeassistant
    id: time_ha
    on_time_sync:
      ds1307.write_time:


# ---------- GLOBALS -------------

# variables
globals:
  - id: global_temp_outside
    type: float
    initial_value: "-1000.0f"
    restore_value: yes
  - id: global_go_to_sleep
    type: bool
    initial_value: "false"
  - id: global_wakeup_timer
    type: int
    initial_value: "0"
  - id: global_should_redraw
    type: bool
    initial_value: "true"

# ---------- INKPLATE HARDWARE ------------

mcp23017:
  - id: mcp23017_hub    # 1st port expander
    address: 0x20
  - id: mcp23017_hub2   # 2nd port expander
    address: 0x22

# touch driver
ektf2232:
  interrupt_pin: GPIO36
  rts_pin:
    mcp23xxx: mcp23017_hub
    number: 10
  on_touch:
  - deep_sleep.prevent: sleeper
  - display.page.show: page_sensor
  - logger.log:
      format: "touch x=%d, y=%d"
      args: ['touch.x', 'touch.y']
  - lambda: |-
      id(global_wakeup_timer) = 0;
      id(global_should_redraw) = true;

# backlight driver
output:
  - platform: mcp47a1
    id: dac_output


# ---------- HOME ASSISTANT INTEGRATION  ------------

switch:
  - platform: gpio
    id: switch_battery_read_mosfet
    pin:
      mcp23xxx: mcp23017_hub
      number: 9
      inverted: true

  # needed to enable touchscreen!
  - platform: gpio
    id: switch_touchscreen_power
    name: 'Inkplate Touchscreen Enabled'
    restore_mode: ALWAYS_ON
    pin:
      mcp23xxx: mcp23017_hub
      number: 12
      inverted: true
  
  - platform: gpio
    id: switch_backlight_power
    name: 'Inkplate Backlight Enabled'
    pin:
      mcp23xxx: mcp23017_hub
      number: 11

  - platform: template
    id: switch_grayscale
    name: "Inkplate Greyscale Mode"
    lambda: return id(inkplate_display).get_greyscale();
    turn_on_action:
      - lambda: id(inkplate_display).set_greyscale(true);
    turn_off_action:
      - lambda: id(inkplate_display).set_greyscale(false);

  - platform: template
    id: switch_partial_update
    name: "Inkplate Partial Updating"
    lambda: return id(inkplate_display).get_partial_updating();
    turn_on_action:
      - lambda: id(inkplate_display).set_partial_updating(true);
    turn_off_action:
      - lambda: id(inkplate_display).set_partial_updating(false);

sensor:
  - platform: adc
    id: sensor_battery_adc
    update_interval: 60s
    attenuation: 11db
    pin: 35

  - platform: template
    name: "Inkplate Battery Voltage"
    id: sensor_battery_voltage
    accuracy_decimals: 3
    unit_of_measurement: "V"
    lambda: |-
      return readBattery(id(switch_battery_read_mosfet), id(sensor_battery_adc)) - 0.27;  // 0.27V ADC calibration

  - platform: homeassistant
    id: sensor_temp_outside
    entity_id: sensor.czujnik_temperature
    unit_of_measurement: "°C"
    device_class: "temperature"
    icon: "mdi:thermometer"

text_sensor:
  - platform: homeassistant
    id: tsensor_weather
    entity_id: weather.dom

light:
  - platform: monochromatic
    id: backlight
    output: dac_output
    name: "Inkplate Backlight"

binary_sensor:
  - platform: status
    name: "Inkplate Status"

  # Touch region definition
  - platform: ektf2232
    id: btn_1
    x_min: 100
    x_max: 200
    y_min: 200
    y_max: 300
    filters:
      - delayed_off: 500ms
    on_press:
      - mqtt.publish:
          topic: 'zigbee2mqtt/Światło Wejście/set'
          payload: '{"state_left": "TOGGLE"}'
  - platform: ektf2232
    id: btn_2
    x_min: 300
    x_max: 400
    y_min: 200
    y_max: 300
    filters:
      - delayed_off: 500ms
    on_press:
      - mqtt.publish:
          topic: 'zigbee2mqtt/Światło Wejście/set'
          payload: '{"state_right": "TOGGLE"}'
  - platform: ektf2232
    id: btn_3
    x_min: 500
    x_max: 600
    y_min: 200
    y_max: 300
    filters:
      - delayed_off: 500ms
    on_press:
      - mqtt.publish:
          topic: 'zigbee2mqtt/Światło Stół/set'
          payload: '{"state": "TOGGLE"}'
  - platform: ektf2232
    id: btn_4
    x_min: 700
    x_max: 800
    y_min: 200
    y_max: 300
    filters:
      - delayed_off: 500ms
    on_press:
      - mqtt.publish:
          topic: 'zigbee2mqtt/Światło Dzieci/set'
          payload: '{"state": "TOGGLE"}'


# ---------- DISPLAY  ------------

image:
  - file: "home.png"
    id: image_home
    resize: 1024x758
    dither: FLOYDSTEINBERG

font:
  - file: "fonts/Helvetica.ttf"
    id: font_text_96
    size: 96
  - file: "fonts/Helvetica.ttf"
    id: font_footer
    size: 28
  - file: 'fonts/materialdesignicons-webfont.ttf'
    id: font_icons
    size: 300
    glyphs:
      - "\U000F0594" # clear-night
      - "\U000F0590" # cloudy
      - "\U000F0595" # partlycloudy
      - "\U000F0591" # fog      
      - "\U000F0592" # hail
      - "\U000F0593" # lightning
      - "\U000F067E" # lightning-rainy
      - "\U000F0596" # pouring
      - "\U000F0597" # rainy
      - "\U000F0F36" # snowy
      - "\U000F067F" # snowy-rainy
      - "\U000F0599" # sunny
      - "\U000F059D" # windy
      - "\U000F059E" # windy-variant
      - "\U000F0F38" # exceptional

display:
- platform: inkplate6
  model: INKPLATE_6_PLUS
  id: inkplate_display
  greyscale: false
  partial_updating: true
  update_interval: 1s
  full_update_every: 5

  ckv_pin: 32
  sph_pin: 33
  gmod_pin:
    mcp23xxx: mcp23017_hub
    number: 1
  gpio0_enable_pin:
    mcp23xxx: mcp23017_hub
    number: 8
  oe_pin:
    mcp23xxx: mcp23017_hub
    number: 0
  spv_pin:
    mcp23xxx: mcp23017_hub
    number: 2
  powerup_pin:
    mcp23xxx: mcp23017_hub
    number: 4
  wakeup_pin:
    mcp23xxx: mcp23017_hub
    number: 3
  vcom_pin:
    mcp23xxx: mcp23017_hub
    number: 5

  pages:
    - id: page_home
      lambda: |-
        if (id(global_go_to_sleep)) { id(sleeper).begin_sleep(true); return; }
        if (!shouldDrawHome()) return;
        it.fill(COLOR_ON);

        // current temp + weather
        it.printf(350, 150, id(font_text_96), COLOR_OFF, TextAlign::TOP_LEFT, "%.2f °C", id(sensor_temp_outside).state);
        drawWeatherIcon(it, id(font_icons), 50, 50);

        // footer
        drawFooter(it, id(font_footer));

        // go to sleep after drawing page 1
        id(global_go_to_sleep) = true;
        id(switch_touchscreen_power).turn_off();
    - id: page_sensor
      lambda: |-
        //if (!shouldDrawSensor()) return;
        it.fill(COLOR_ON);
        
        it.print(100, 500, id(font_text_96), COLOR_OFF, TextAlign::TOP_LEFT, "Sensor page!");
        //it.image(0, 0, id(image_home));

        id(global_wakeup_timer) = id(global_wakeup_timer) + 1;
        if (id(global_wakeup_timer) > 10) {
            id(global_should_redraw) = true;
            id(global_wakeup_timer) = 0;
            it.show_page(id(page_home));
        }

external_components:
  - source: 
      type: local
      path: "D:\\Hobby\\Esphome-mkocus\\esphome\\components"
    components: ["inkplate6", "gpio", "deep_sleep", "ds1307"]
  - source: github://pr#3027
    components: ["ektf2232"]